* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(220, 220, 220);
}

.box {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.box_1 {
    width: 500px;
    height: 300px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.box_2 {
    width: 100%;
    height: 33.3%;
    justify-content: center;
    display: flex;
    padding-top: 40px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.box_3 {
    width: 100%;
    height: 25%;
    justify-content: center;
    display: flex;
    padding-top: 10px;
}

.box_4 {
    width: 100%;
    height: 33.3%;
    justify-content: center;
    display: flex;
    border-radius: 8px 8px 8px 8px;
}

.input {
    width: 300px;
    height: 50px;
    padding-left: 5px;
    border: 2px solid black;
    border-radius: 8px 8px 8px 8px;
}

.btn {
    width: 60px;
    height: 50px;
    margin-left: 10px;
    background-color: orange;
    border-radius: 8px 8px 8px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.text {
    background-color: orange;
    width: 440px;
    height: 300px;
    border-radius: 8px 8px 8px 8px;
    padding-left: 20px;
    padding-top: 5px;
}