/* .body1 {
    width: 700px;
    margin: 40px;
    display: flex;
    border: 2px solid rgb(0, 99, 141);
}

.a1 {
    width: 120px;
    display: flex;
    flex-direction: column;
}

.click {
    padding: 20px;
    border: none;
    background: rgb(0, 99, 141);
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.content {
    padding: 10px;
}

.textnone {
    display: none;
}

.textnone.active {
    display: block;
} */


/* ____ Задание 2 ____ */


/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}

button {
    background-color: #4a90e2;
    color: white;
    border: none;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
} */


/* ____ Задание 3 ____ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 243, 243);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.Calculator {
    width: 200px;
    height: 300px;
    background-color: rgb(250, 237, 191);
    margin: 250px auto;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid rgb(49, 49, 49);
}

.display {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: end;
    padding-top: 10px;
    border-radius: 4px;
    height: 20%;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.btn {
    display: flex;
    flex-wrap: wrap;
}

.button {
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    width: 10px;
    margin: 10px 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    border: 1px solid rgb(48, 48, 48);
}